<div class="row">
	<div class="col-md-12">
		<%= form_for @user do |f| %>
			<div class="checkbox-list">
				<%= f.collection_check_boxes(:genre_ids, Genre.all.sort_by{|g| g.name}, :id, :name) %>
			</div>
			<%= f.submit "Add genre", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>