<div class="alert alert-warning" role="alert"><strong>Under Construction!</strong> Stay tuned... Sites gonna be DANG </div>

<div class="center jumbotron">
	<h1>Welcome to Symphian</h1>
	<h2>This is the <a href='#'>musician</a>'s network</h2>
	<%= link_to "Sign me up", signup_path, class: "btn btn-primary" %>
</div>