// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_block {
	border-color:transparent;
	border-style:solid;
	border-width: 0px 0px 17px;
	border-image: url(/assets/border-staff.png) 0 0 17 repeat;
	h1 {
		padding-top: 10px;
	}
	.gravatar {
		float: left;
		margin-top:10px;
	}
	.btn-profile{
		float:right;
		vertical-align: center;
	}
}

//careful with this. Bootstrap will fuck around with padding

.welcome {
	.gravatar {
		float: left;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	h1 {
		text-align: left;
		margin-top: 10px;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

	h2 {
		text-align: left;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
}