<h3 id="listing_title"><%= listing.title %></h3>
<p><span id="listing_content"><%= listing.description %></span></p>
<p><small>Posted by <%= listing.user.name %> <%= time_ago_in_words(listing.created_at) %> ago</small></p>