<% genreStation ||= false %>

<% if genreStation and current_user.genres.present? %>
	<% genre = current_user.genres.shuffle.first.name %>
	<% tracks = current_user.soundcloud_client.get('/tracks',  :genres => genre) %>
	
	<% url = tracks.shuffle.first.permalink_url %>

	<% begin; embed = current_user.soundcloud_client.get('/oembed', :url => url, :maxheight => 166); rescue => e; end %>

	<%= embed['html'].html_safe %>
<% else %>
	<div style="height:450px"><%= current_user.embed_user_tracks['html'].html_safe %></div>
<% end %>