
<div class="section_title row">
	<div id="profile_soundcloud" class="col-md-12">
		<h2>My Sounds</h2>
		<% if sc_logged_in? %>
			<%= link_to image_tag("btn-disconnect-m.png", :border => 0, :alt => "Disconnect from SoundCloud"),soundcloud_disconnect_path, :class => "disconnect scbutton btn-edit" %>
		<% else %>
			<%= link_to image_tag("btn-connect-sc-m.png", :border => 0, :alt => "Connect With SoundCloud"), soundcloud_connect_path, :class => "connect scbutton btn-edit" %>
		<% end %>
	</div>
</div>


<% if sc_logged_in? %>
	<% if params[:genreStation] %>
		<% current_user.soundcloud_client.get('/tracks',  :genres => 'punk') %>
	<% else %>
	<% @embed_info = current_user.soundcloud_client.get('/oembed', 
												:url => "http://soundcloud.com/#{current_user.soundcloud_username}/tracks", 
												:maxheight => 450) %>
	<div style="height:450px"><%= @embed_info['html'].html_safe %></div>
	<% end %>
<% else %>
	Log into SoundCloud and start sharing your recordings!
<% end %>