<div class="row">
	<div class="col-md-12">
		<h2>My Videos</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<% if signed_in? %>
				<%= form_for @youtube do |f| %>
					<%= f.label :playlist, 'Playlist ID' %>
					<%= f.text_field :playlist, :placeholder => "Enter your YouTube playlist URL" %>
				<% end %>
		<% end %>
		<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/?listType=playlist&list=<%=@youtube.playlist%>&theme=light"></iframe>
	</div>
</div>