<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#bio-modal">edit</button>

<div class="modal fade" id="bio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Zip Code</h3>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<%= form_for(@group) do |f| %>
					<%= f.text_field :zip %>
					<%= f.submit "Save changes", class: "btn btn-primary" %>
				<% end %>					
			</div>
		</div>
	</div>
</div>