<div style="text-align:center;">
	<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#member-modal">Add a member</button>
</div>
<div class="modal fade" id="member-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Add a member</h4>
			</div>
					<%= form_for @group do |mem| %>
			<div class="modal-body">
				<div class="row">
				<div class="col-md-6">					
					<h4>Every user ever</h4>
					<div class="checkbox-list">
						<%= mem.collection_check_boxes(:member_ids, User.all, :id, :name) %>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Members</h4>
					<%= render @group.members %>
				</div>
			</div>
			</div>
			<div class="modal-footer">
				<%= mem.submit "Add member", class: "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>