body {
	padding-top: 70px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	background-color: #272727;
}

.sheet {
	background-color: #F8F8E3;	
}

h1, h2{
	line-height:1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 30px;
	margin-bottom: 50px;
	border-width: 0px 0px 17px;
	border-image: url(/assets/border-staff.png) 0 0 17 repeat;
}

h2 {
	color: #999;
	text-align: center;
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	font-weight: normal;
}

.profile h3 {
	display: inline;
}

.profile .btn-edit{
	margin-bottom: 6px;
	margin-left: 8px;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}