$brand-primary: #704D4D;

$btn-primary-bg: #704D4D;
$btn-primary-color: #704D4D;
$btn-primary-border: #704D4D;

$btn-default-bg: #704D4D;
$btn-default-color: #704D4D;
$btn-default-border: #704D4D;

@import "bootstrap";

$brand-primary: #704D4D;

$btn-primary-bg: #704D4D;
$btn-primary-color: #704D4D;
$btn-primary-border: #704D4D;

$btn-default-bg: #704D4D;
$btn-default-color: #704D4D;
$btn-default-border: #704D4D;


.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

#logo {
	float: left;
	font-size: 1.7em;
	text-transform: capitalize;
	color: $brand-primary;
	padding-top: 9px;
	margin-right: 10px;
	line-height: 1;
	letter-spacing: -1px;
	font-weight: bold;
}

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}