$brand-primary: #3366CC;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "body";
@import "footer";
@import "header";

nav {
	box-shadow: 0px 0px 10px #888
}

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	text-transform: capitalize;
	color: $brand-primary;
	padding-top: 9px;
	line-height: 1;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		text-decoration:none;
	}
}
