$brand-primary: #3366CC;

@import "bootstrap";

@import "body";
@import "footer";
@import "header";
@import "forms";


@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

body {
	color: #333;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	text-transform: capitalize;
	color: $brand-primary;
	padding-top: 11px;
	line-height: 1;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		text-decoration:none;
	}
}

.inst-selector {
	max-height: 4em;
	overflow-y: auto;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing
}