<div class="row">
	<div class="col-md-6">
		<h4>Instruments</h4>
		
		<%= fields_for @user do |f| %>
			<div class="checkbox-list">
				<%= f.collection_check_boxes(:instrument_ids, Instrument.all, :id, :name, 
					:item_wrapper_class => "checkbox-list") %>
			</div>
			<%= f.submit "Add instrument" %>
		<% end %>
	</div>
	<div class="col-md-6"> <!-- user instruments -->
		<h4>My Instruments</h4>
		<ul id="user-instruments">
			<% @instruments.each do |user_inst| %>
				<%= render user_inst %>
			<% end %>
		</ul>
	</div>
</div>