<div class="row">
	<div class="col-md-6">
		<h4>Every genre ever</h4>
		<%= fields_for @user do |mem| %>
			<div class="checkbox-list">
				<%= mem.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
			</div>
			<%= mem.submit "Add genre", class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="col-md-6">
		<h4>My Genres</h4>
		<%= render @user.genres %>
	</div>
</div>