<section class="groups">
	<% if current_user?(@user) %>
			<a class="btn btn-xs btn-primary btn-edit" href="/groups/new">
				<div class="glyphicon glyphicon-plus-sign" aria-hidden='true'></div>
			</a>
	<% end %>
	<h2>My Groups</h2>
</section>
<section>
		<%= render @user.groups.order(name: :asc) %>
</section>