<h2>My Listings</h2>
<%= render :layout => "shared/edit_modal", :locals => {:title => 'New Listing', :id => 'listing'} do %>
	<%= render "listings/form" %>
<% end %>	
<%= render current_user.listings %>