<div class="row">
	<div class="col-md-12">
		<%= render :layout => "shared/edit_modal", :locals => {:title => 'New Listing', :id => 'listing', btn_icon: "plus"} do %>
			<%= render "listings/form" %>
		<% end %>	
		<h2>My Listings</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="listings">
			<ul>
				<%= render @listings %>
			</ul>
		</div>
	</div>
</div>