<div class="row">
	<div class="col-md-12">
		<h2>My Listings</h2>
		<%= render :layout => "shared/edit_modal", :locals => {:title => 'New Listing', :id => 'listing', :btn_text => "Create a New Listing"} do %>
			<%= render "listings/form" %>
		<% end %>	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="listings">
			<ul>
				<%= render partial: "shared/listing", collection: @user.listings %>
			</ul>
		</div>
	</div>
</div>