<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-4">
		<section>
			<h1><%= @user.name %></h1>
			<h2>Profile Page.</h2>
		</section>
	</div>
	<div class="col-md-8">
		<section>
			<div class="profile">
				<h3>Bio</h3>
					<p>I was once a great composer. But then I discovered my love of kite flying. I flew the kites in the wind. The wind has many moods. Many things to say. It is as complex as any of the greatest concertos. As nuanced as the most beautiful painting. All speaking to me. TElling me of things long past. Caressing me and wrapping me in the comfort of the promise of change and new adventure.</p>
				<h3>Talents</h3><% if current_user?(@user) %>edit<% end %>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="glyphicon glyphicon-star"></span> Guitar
						</li>
						<li class="list-group-item">Trumpet</li>
						<li class="list-group-item">Piano</li>
						<li class="list-group-item">Vocal</li>
						<a href="#" class="list-group-item">Add+</a>
					</ul>
				<h3>Genres Enjoyed</h3>
					<ul>
						<li>Classical</li>
						<li>Punk Rock</li>
						<li>Neo Pop</li>
						<li>Celtic Folk Dances</li>
					</ul>
			</div>
		</section>
	</div>
</div>