<%= form_tag( search_path, { method:"get", 
                                                            role: "search", 
                                                            class: "navbar-form", 
                                                            id:"search-form"}) do %>
  <div class="form-group">
    <%= text_field_tag 'starts_with', nil, { 	:class => "form-control", 
                                          :placeholder => "Search",
                                          :id => "search-box" }%>
  </div>
<% end %>