// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-title {
  
  border-color:transparent;
	border-style:solid;
	border-width: 0px 0px 17px;
	border-image: url(/assets/border-staff.png) 0 0 17 repeat;
  
  h1 {
    text-align: left;
    font-size: 72px;
    border-width: 0px;
    margin-bottom: 10px;
  }
  
  p {
    text-align: left;
    font-weight: 300;
    font-size: 30px;
  }
}