#profile_header .gravatar {
	float: left;
	margin-right: 15px;
	margin-top:0px;
}

#profile_header {	
	margin-top: 0px;
	h1 {		
		float: left;
		margin: 26px 0 0 10px
	}
}

.bio_block {
	margin-top: 19px;
	padding-bottom: 10px;
	border-color:transparent;
	border-style:solid;
	border-width: 0px 0px 17px;
	border-image: url(/assets/border-staff.png) 0 0 17 repeat;
	/*margin-bottom: 28px;*/
	h2 {
		text-align: left;
		float: left;
		margin-top: 0px;
		margin-bottom: 15px;
	} 
}

.btn-edit {
	float: right;
	margin-right: 50px;
}

dl {
	width: 100%;
}

dt {
	float:left;
	width: 20%;
	text-align: right;
	padding: {
		top: 3px;
		bottom: 3px;
	}
}

dd {
	float: left;
	width: 80%;
	padding: {
		top: 3px;
		bottom: 3px;
		left: 10px;
	}
}

.big-curly {
	font-size: 7em;
	margin-right: -18px;
}

.gravatar {
	padding-top: 45px;
}

.glance {
	padding-top: 23px;
}