#profile_header .gravatar {
	float: left;
	margin-right: 15px;
}

#profile_header {
	padding-bottom: 15px;
	border-bottom: 3px solid #333;
	margin-bottom: 28px;
	h1 {
		float: left;
		margin: 5px 0 0 0;
	}
}

#profile_body {
	.bio_block {
		.section_title {

			/* border-bottom: 3px solid #888; */

			h2 {
				text-align: left;
				float: left;
				margin-top: 0px;
			} 

			& #edit_button {
				float: right;
			}
		}
		border-bottom: 3px solid #333;
	}
}


.bio_block {
	margin-bottom: 28px;
}

#edit_button {
	float: right;
	margin-right: 50px;
}

dl {
	width: 100%;
}

dt {
	float:left;
	width: 20%;
	text-align: right;
	padding: {
		top: 3px;
		bottom: 3px;
	}
}

dd {
	float: left;
	width: 80%;
	padding: {
		top: 3px;
		bottom: 3px;
		left: 10px;
	}
}