	<div class="row">
		<div class="col-md-6">
			<h4>Instruments</h4>
			<select class="inst-selector" multiple> <!-- all instruments -->
			<% Instrument.all.each do |inst| %> 
				<option><%= render inst %></option>
			<% end %>
			</select>
		</div>
		<div class="col-md-6"> <!-- user instruments -->
			<h4>My Instruments</h4>
			<%= render @instruments %> 
		</div>
	</div>