
	<div class="row">
		<div class="col-md-6">
			<% Instrument.all.each do |inst| %> <!-- all instruments -->
				<%= render inst %>
			<% end %>
		</div>
		<div class="col-md-6">
			<%= render @instruments %> <!-- user instruments -->
		</div>
	</div>
